:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #212121;
  --secondary-color: #757575;
  --light-color: #ffffff;
  --hover-color: #2196f3;
  --button-color: #f5f4fa;
  --footer-color: #2f303a;
}

h1,
h2,
h3,
ul,
li,
p,
a,
img,
div,
button,
svg {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  font-family: var(--main-font), var(--secondary-font);
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  letter-spacing: 0.03px;
  color: var(--accent-color);
  text-align: center;
}

.link {
  list-style: none;
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  /* outline: 2px solid tomato; */
}

.section {
  margin: 94px auto 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* *HEADER SECTION* */
.header-box {
  /* padding-top: 24px; */
  /* padding-bottom: 25px; */
}

.header-logo {
  margin: 24px 93px 25px 0;
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19px;
  color: var(--hover-color);
}

.header-logo-piece {
  color: #000000;
}

.header-navigation {
  margin: 32px 305px 0 0;
}

.header-list {
  display: flex;
  padding: 0;
  height: 48px;
}

.header-list-item {
  position: relative;
  padding: 0;
  margin: 0;
}

.header-list-item:not(:last-child) {
  margin-right: 50px;
}

.header-pages {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02px;
  color: var(--accent-color);
}

.header-contacts-list {
  margin: 32px auto;
  display: flex;
}

.header-contacts-list-item:first-child {
  margin-right: 30px;
}

.header-mail-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.header-mail {
  width: 161px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02px;
  color: var(--secondary-color);
}

.header-tel-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.header-tel {
  width: 142px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02px;
  color: var(--secondary-color);
}

/* Выделение шрифта и нижнее подчёркивание на страницах */
.header-pages:hover,
:focus {
  color: var(--hover-color);
}

.header-list-item .header-pages:hover::before,
:focus::before,
:active {
  content: '';
  position: absolute;
  top: 100%;
  width: 100%;
  height: 4px;
  background: var(--hover-color);
  border-radius: 2px;
}

/* Выделение иконок и текста в mail и tel */
.header-contacts-list-item:hover .header-mail {
  color: var(--hover-color);
}

.header-contacts-list-item:hover,
:focus .header-mail-icon {
  fill: var(--hover-color);
}

.header-contacts-list-item:hover .header-tel {
  color: var(--hover-color);
}

.header-contacts-list-item:hover,
:focus .header-tel-icon {
  fill: var(--hover-color);
}

/* !INDEX PAGE! */
/* *HERO SECTION* */
.hero-section {
  margin: 0 auto;
  max-width: 1600px;
}

.hero-section-content {
  padding: 200px 452px 200px;
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/index/hero.jpg');
}

.hero-section-caption {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36em;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-color);
}

.hero-section-button {
  margin-top: 30px;
  padding: 10px 32px;
  cursor: pointer;
  font-weight: 700;
  line-height: 1.87em;
  letter-spacing: 0.06em;
  color: var(--light-color);
  background-color: var(--hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero-section-button:hover {
  background-color: #188ce8;
}

.hero-section-button:focus {
  background-color: #188ce8;
}

/* *BENEFITS SECTION* */
.benefits-list {
  display: flex;
  text-align: left;
}

.benefits-list-item:not(:last-child) {
  margin-right: 30px;
}

.benefits-item-title {
  margin: 30px 0 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
  text-transform: uppercase;
  color: var(--accent-color);
}

.benefits-item-text {
  font-size: 14px;
  line-height: 1.71em;
  color: var(--secondary-color);
}

.benefits-list-item {
  width: 270px;
}

.benefits-list-icon {
  width: 270px;
  height: 120px;
  background-color: var(--button-color);
  border-radius: 4px;
}

.benefits-icon {
  margin: 25px 100px;
  width: 70px;
  height: 70px;
  background-size: contain;
}

/* *JOB SECTION* */
.job-caption {
  margin-bottom: 50px;
}

.job-list {
  display: flex;
}

.job-list-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17em;
  text-align: center;
  color: var(--accent-color);
}

.job-list-item:not(:last-child) {
  margin-right: 30px;
}

.job-section-image {
  position: relative;
}

/* .job-section-image > img {
  display: block;
  max-width: 100%;
  height: auto;
} */

.job-section-overlay {
  position: absolute;
  padding: 27px 82px;
  width: 100%;
  height: 70px;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
}

.job-section-overlay-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
  text-align: center;
  text-transform: uppercase;
  color: var(--light-color);
}

/* *COMMAND SECTION* */
.command-section {
  max-width: 1600px;
  margin: 94px auto 0;
}

.command-section-content {
  background-color: var(--button-color);
}

.command-section-caption {
  padding: 94px 668px 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17em;
  text-align: center;
  color: var(--accent-color);
}

.command-section-list {
  padding-bottom: 94px;
}

.command-section-item:not(:last-child) {
  margin-right: 30px;
}

.command-section-item {
  background-color: var(--light-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.command-section-item-title {
  margin: 30px 5px 10px;
  font-weight: 500;
  line-height: 1.19em;
  text-align: center;
  color: var(--accent-color);
}

.command-section-item-text {
  margin: 0 65px;
  line-height: 1.19em;
  text-align: center;
  color: var(--secondary-color);
  background: #ffffff;
}

.command-section-icon-list {
  margin: 16px 32px 30px;
  display: flex;
}

.command-section-icon-item {
  width: 44px;
  height: 44px;
  padding: 12px;
}

.command-section-icon-item:not(:last-child) {
  margin-right: 10px;
}

.command-section-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.command-section-icon-item:hover {
  background-color: var(--hover-color);
  border-radius: 50%;
}

.command-section-icon-item:hover .command-section-icon {
  fill: var(--light-color);
}

/* *COSTOMERS SECTION* */
.costomers-section {
  margin: 94px auto;
  display: block;
}

.costomers-section-caption {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17em;
  text-align: center;
  color: var(--accent-color);
}

.costomers-section-list {
  margin-top: 50px;
  display: flex;
  margin-bottom: 94px;
}

.costomers-section-item {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.costomers-section-item:not(:last-child) {
  margin-right: 30px;
}

.costomers-section-icon {
  margin: 16px 32px;
  width: 106px;
  height: 60px;
  fill: #afb1b8;
}

.costomers-section-item:hover {
  border-color: var(--hover-color);
}

.costomers-section-item:hover .costomers-section-icon {
  fill: var(--hover-color);
}

/* !PORTFOLIO SECTOR!
/* *BUTTON SECTION* */
.button-section {
  max-width: 1200px;
  margin: 94px auto 50px;
}

.button-list {
  display: flex;
  padding: 0 284px;
}

.button-list-item {
  background-color: var(--button-color);
  border-radius: 4px;
}

.button-list-item:not(:last-child) {
  margin-right: 8px;
}

.button-text:hover {
  background-color: var(--hover-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--light-color);
}

.button-text:focus {
  background-color: var(--hover-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--light-color);
}

.button-text {
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.6em;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  border-color: transparent;
}

/* *PORTFOLIO SECTION* */
.portfolio-section {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto 64px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  margin-right: -30px;
}

.portfolio-list-item {
  flex-basis: calc(100% / 3 - 30px); /* вместо width: 370px; */
  margin: 0px 30px 30px 0;
  background-color: var(--light-color);
  border: 1px solid #eeeeee;
}

.portfolio-list-image {
  position: relative;
}

.portfolio-list-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  text-align: left;
  background: rgba(33, 150, 243, 0.9);
  opacity: 0;
}

.portfolio-list-item:hover .portfolio-list-hover {
  opacity: 1;
}

.portfolio-list-item:hover {
  background: var(--light-color);
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list-hover-text {
  margin: 63px 24px;
  font-size: 18px;
  line-height: 1.55em;
  color: var(--light-color);
  opacity: 1;
}

.portfolio-list-title {
  margin: 20px 24px 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2em;
  letter-spacing: 0.06em;
  color: var(--accent-color);
}

.portfolio-list-text {
  margin: 0 24px 20px;
  line-height: 1.88em;
  color: var(--secondary-color);
}

/* *FOOTER SECTION* */
.footer-section {
  max-width: 1600px;
  margin: 0 auto;
  background-color: var(--footer-color);
}

.footer-section-content {
  display: flex;
  outline: 2px solid tomato;
}

.footer-section-contacts {
  margin-right: 70px;
}

.footer-logo {
  /* width: 145px;
  height: 31px; */
  /* margin: 70px 0 10px; */
  margin-bottom: 30px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19px;
  text-align: left;
  color: var(--hover-color);
}

.footer-logo-piece {
  color: var(--light-color);
}

.footer-adress {
  /* margin-bottom: 60px; */
  text-align: left;
  width: 231px;
}

.footer-adress-text {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-adress-text:first-child {
  color: var(--light-color);
}

.footer-adress-text:not(:last-child) {
  margin-bottom: 9px;
}

.footer-action {
  margin-top: -50px;
}

.footer-action-content {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;
  color: var(--light-color);
}

.footer-action-icon-list {
  display: flex;
}

.footer-action-icon-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  align-items: center;
}

.footer-action-icon-item:not(:last-child) {
  margin-right: 10px;
}

.footer-action-icon {
  margin-top: 10px;
  width: 20px;
  height: 20px;
  fill: var(--light-color);
}

.footer-action-icon-item:hover {
  background-color: var(--hover-color);
}

.footer-subscription {
  margin: 50px 215px 94px 93px;
}

.footer-subscription__title {
  display: flex;
  margin-bottom: 20px;
  text-align: left;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-color);
}

.footer-subscription__container {
  display: inline-flex;
}

.footer-subscription__label {
  position: relative;
}

.footer-subscription__input {
  margin-right: 12px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--footer-color);
}

.footer-subscription__input-text {
  position: absolute;
  top: 15px;
  left: 16px;
  font-size: 16px;
  line-height: 1.25em;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-subscription__button {
  width: 200px;
  height: 50px;
  background-color: var(--hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer-subscription__button-text {
  font-weight: 700;
  line-height: 1.87em;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--light-color);
}

.footer-subscription__button-text::after {
  content: ' ';
  display: inline-block;
  background-size: contain;
  margin: -6px 10px;
  width: 24px;
  height: 24px;
  background-image: url(../images/svg/send.svg);
  fill: #ffffff;
}

/* *MODAL WINDOW*  */
/* Задний фон */
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

/* Модальное окно */
.modal-window {
  position: fixed;
  top: 221px;
  left: 50%;
  transform: translate(-50%);
  padding: 40px;
  width: 528px;
  height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

/* Кнопка "Закрыть" */
.modal-window-close {
  position: absolute;
  top: 8px;
  left: 490px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal-window-close:hover {
  fill: var(--hover-color);
}

.modal-window-close-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
  color: #000000;
}

/* Заголовок */
.modal-title {
  padding: 0 3px 0 3px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15em;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

/* Форма для введения значений */
.modal-section {
  margin-top: 12px;
  padding: 0;
}

/* Список формы */
.modal-list {
  list-style: none;
  text-align: left;
}

.modal-list-item {
  margin-bottom: 10px;
  width: 448px;
}

.modal-list-item:nth-child(4n) .modal-input {
  padding-left: 16px;
  height: 120px;
  resize: none;
}

/* Заголовок секций */
.modal-list-topic {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16em;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
}

/* Секция списка */
.modal-label {
  position: relative;
}

.modal-label:hover .modal-section-icon {
  fill: #2196f3;
}

.modal-label:focus {
  border: 1px solid #2196f3;
}

.modal-label:focus-within .modal-section-icon {
  fill: #2196f3;
}

.modal-input:placeholder-shown .modal-label {
  color: var(--hover-color);
}

.modal-label:hover .modal-input {
  border: 1px solid #2196f3;
}

/* Строка ввода значений */
.modal-input {
  padding: 11px 12px 11px 42px;
  width: 448px;
  height: 40px;
  font-size: 12px;
  line-height: 1.16em;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
}

/* Иконка секции списка */
.modal-section-icon {
  position: absolute;
  top: 10%;
  left: 12px;
  width: 18px;
  height: 18px;
}

/* Соглашение */
.modal-agreement-checkbox {
  margin: 0px 8px 0px 8px;
  opacity: 0;
}

.modal-agreement {
  position: relative;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.modal-agreement-title {
  font-size: 14px;
  line-height: 1.71em;
  color: var(--secondary-color);
}

.modal-agreement-contract {
  text-decoration-line: underline;
  color: var(--hover-color);
}

/* Checkbox соглашения*/
.modal-icon-rectangle {
  position: absolute;
  width: 16px;
  height: 15px;
  top: 0px;
  left: -25px;
  fill: var(--accent-color);
  background-color: var(--light-color);
}

.modal-agreement:hover .modal-icon-rectangle {
  fill: var(--hover-color);
  background-color: var(--hover-color);
  border-radius: 2px;
}

.modal-icon-check {
  position: absolute;
  width: 11px;
  height: 12px;
  top: 2px;
  left: -22px;
  fill: var(--light-color);
}

/* Кпопка "Отправить" */
.modal-button {
  margin: 30px 124px 40px;
  width: 200px;
  height: 50px;
  padding: 10px 55px;
  display: flex;
}
