//basic-settings
@import 'utils/_variable';
@import 'utils/_visually-hidden';
@import 'base/_basic-settings';
@import 'base/_container';
@import 'base/_body';
// header-section
@import 'layouts/_header';
@import 'components/_logo';
@import 'components/_navigation';
// hero-section
@import 'layouts/hero';
// benefits-section
@import 'layouts/benefits';
// job-section
@import 'layouts/job';
