.icon-list {
  display: flex;

  &__item {
    width: 44px;
    height: 44px;
    padding: 12px;
  }

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__item:hover {
    background-color: var(--hover-color);
    border-radius: 50%;
  }

  &__item:hover &__icon {
    fill: var(--light-color);
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: #afb1b8;
  }
}
