.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19px;
  color: var(--hover-color);

  &--light {
    color: var(--light-color);
  }

  &--black {
    color: #000000;
  }
}

.header__logo {
  margin: 24px 93px 25px 0;
}

.footer__logo {
  margin-bottom: 30px;
  text-align: left;
}
