/* Задний фон */
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

/* Модальное окно */
.modal-window {
  position: fixed;
  top: 221px;
  left: 50%;
  transform: translate(-50%);
  padding: 40px;
  width: 528px;
  height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

/* Кнопка "Закрыть" */
.modal-window-close {
  position: absolute;
  top: 8px;
  left: 490px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal-window-close:hover {
  fill: var(--hover-color);
}

.modal-window-close-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
  color: #000000;
}

/* Заголовок */
.modal-title {
  padding: 0 3px 0 3px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15em;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

/* Форма для введения значений */
.modal-section {
  margin-top: 12px;
  padding: 0;
}

/* Список формы */
.modal-list {
  list-style: none;
  text-align: left;
}

.modal-list-item {
  margin-bottom: 10px;
  width: 448px;
}

.modal-list-item:nth-child(4n) .modal-input {
  padding-left: 16px;
  height: 120px;
  resize: none;
}

/* Заголовок секций */
.modal-list-topic {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16em;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
}

/* Секция списка */
.modal-label {
  position: relative;
}

.modal-label:hover .modal-section-icon {
  fill: #2196f3;
}

.modal-label:focus {
  border: 1px solid #2196f3;
}

.modal-label:focus-within .modal-section-icon {
  fill: #2196f3;
}

.modal-input:placeholder-shown .modal-label {
  color: var(--hover-color);
}

.modal-label:hover .modal-input {
  border: 1px solid #2196f3;
}

/* Строка ввода значений */
.modal-input {
  padding: 11px 12px 11px 42px;
  width: 448px;
  height: 40px;
  font-size: 12px;
  line-height: 1.16em;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
}

/* Иконка секции списка */
.modal-section-icon {
  position: absolute;
  top: 10%;
  left: 12px;
  width: 18px;
  height: 18px;
}

/* Соглашение */
.modal-agreement-checkbox {
  margin: 0px 8px 0px 8px;
  opacity: 0;
}

.modal-agreement {
  position: relative;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.modal-agreement-title {
  font-size: 14px;
  line-height: 1.71em;
  color: var(--secondary-color);
}

.modal-agreement-contract {
  text-decoration-line: underline;
  color: var(--hover-color);
}

/* Checkbox соглашения*/
.modal-icon-rectangle {
  position: absolute;
  width: 16px;
  height: 15px;
  top: 0px;
  left: -25px;
  fill: var(--accent-color);
  background-color: var(--light-color);
}

.modal-agreement:hover .modal-icon-rectangle {
  fill: var(--hover-color);
  background-color: var(--hover-color);
  border-radius: 2px;
}

.modal-icon-check {
  position: absolute;
  width: 11px;
  height: 12px;
  top: 2px;
  left: -22px;
  fill: var(--light-color);
}

/* Кпопка "Отправить" */
.modal-button {
  margin: 30px 124px 40px;
  width: 200px;
  height: 50px;
  padding: 10px 55px;
  display: flex;
}
