.navigation {
  margin: 32px 305px 0 0;

  .list {
    display: flex;
    padding: 0;
    height: 48px;
  }

  &__item {
    position: relative;
    padding: 0;
    margin: 0;
  }

  &__item:not(:last-child) {
    margin-right: 50px;
  }

  &__page {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.02px;
    color: var(--accent-color);
  }

  &__page:hover,
  &__page:focus {
    color: var(--hover-color);
  }

  &__item &__page:hover::before,
  &__item &__page:focus::before,
  &__item:active {
    content: '';
    position: absolute;
    top: 100%;
    width: 100%;
    height: 4px;
    background: var(--hover-color);
    border-radius: 2px;
  }
}
