.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  /* outline: 2px solid tomato; */
}

.section {
  margin: 94px auto 0;
}
