.costomers {
  margin: 94px auto;
  display: block;

  &__caption {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17em;
    text-align: center;
    color: var(--accent-color);
  }
}

.costomers-list {
  margin-top: 50px;
  display: flex;
  margin-bottom: 94px;

  &__item {
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__item:hover {
    border-color: var(--hover-color);
  }

  &__item:hover &__icon {
    fill: var(--hover-color);
  }

  &__icon {
    margin: 16px 32px;
    width: 106px;
    height: 60px;
    fill: #afb1b8;
  }
}
