.hero {
  margin: 0 auto;
  max-width: 1600px;

  &__section {
    padding: 200px 452px 200px;
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/index/hero.jpg');
  }

  &__caption {
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36em;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--light-color);
  }
}
